<div>
    <h2>New Account Creation</h2>

    <form [formGroup]="loginRef" (ngSubmit)="signUp()">
        <label>EmailId :</label>
        <input type="email" formControlName="emailid"/>
        <br><br/>
        <label>Password :</label>
        <input typr="password" formControlName="password"/>
        <br><br/>
        <label>TypeOfUser :</label>
        <input type="radio" name="typeOfUser" value="admin" formControlName="typeOfUser"/>admin
        <input type="radio" name="typeOfUser" value="user" formControlName="typeOfUser"/>user<br/> <br><br/>
        <input type="submit" value="signUp"/>
        <input type="reset" value="reset">  
    </form>
    <br/>
    <span style="color: rgb(255, 0, 76);">{{msg}}</span>
    <a routerLink="/login">Login</a>
</div>
